/*******************
====== GLOBAL=======
*******************/

/* VARIABLES - GLOBALES */

:root {
	--accent-hue: 328!important;
	--accent-color: var(--title-3-bg);
	
	--fow-bg: #fdead9;
	--fow-bg-light: #fff7f1;
	--fow-txt: #000000;
	
	--title-txt: lightgrey;
	--title-bg: var(--accent-color);
	
	--title-2-txt: lightgrey;
        --title-3-txt: #fffdfb;
	--title-2-bg: #bf4d6b;
        --title-3-bg: #5e4170;
        --title-3-bg-clair: #c66bff;
	
	--present: #55ff67;
	--absent: #ffb80c;
	
	--fow-link: var(--fow-txt);
	--fow-link-alt: var(--title-2-txt);
  
	--sceditor-border: #0e0e0e;
	--sceditor-txt: rgba(142,142,142,1);
  
	--g-pnj: #B785E6;
	--g-l-ordre: #0093AD;
	--g-sanguinaire: #FF2929;
	--g-sang-blanc: #D68585;
	--g-damballa: #DED788;
	--g-pawnees: #58A878;
	--g-enrages: #02733D;
	--g-resistance: #F5914F;
	--g-neutres: #807248;
	--g-confrerie:#811B1B;
	--g-sororite:#F000BC;
}


/* SCROLLBAR */

::-webkit-scrollbar{
	width:10px
}

::-webkit-scrollbar-track{
	background-color:#000
}

::-webkit-scrollbar-thumb{
	BACKGROUND-COLOR:var(--accent-color,#999)
}

td.cat, td.catBottom, td.catHead, td.catLeft, td.catRight, td.catSides,
th, .thLeft, .thRight {
	background-color: var(--title-2-bg, inherit)!important;
	color: var(--title-2-txt)!important;
}

/***************************SWITCHEUR******************************/

/*** ------------------------------- ***/
/*** SWITCHEROO - Par Monomer ------ ***/
/*** Gestionnaire de multicompte --- ***/

:root {
    --text: #333;
    --red: #D31141;
    --link: #000;
    --light: #FFF;
    --lighter: #fafafa;
    --grey: #F4F4F4;
    --greyer: #E5E5E5;
    --border: 1px solid #E5E5E5;
    --font: 'Open Sans';
    --gap-size: 15px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* BARRE SWITCHEROO --- */
.switcheroo[position="static"] {
  position: relative;
}

/* si barre EN HAUT */
.switcheroo[position="top"] {
  top: 0;
  left: 0;
  z-index: 100;
}

/* si barre EN BAS */
.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* si barre A L'HORIZONRAL */
.switcheroo[direction="horizontal"] {
  width: 100%;
}

/* si barre A LA VERTICAL */
.switcheroo[direction="vertical"] {
  height: 100%;
}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: var(--gap-size);
  gap: var(--gap-size);
      margin-top: -7px;
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {
  flex-direction: row;
}
.switcheroo[direction="vertical"] .switcheroo__squircles {
  flex-direction: column;
}

/* BARRE --- */
.switcheroo {
  color: var(--color-text);
  font-size: 16px;
}


/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--title-3-bg);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
  border-radius: 6px;
    background: #bf4d6b;
}

/* Contenenur de l'avatar */
.switcheroo__avatar {}


/* Image de l'avatar */
.switcheroo__avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--ease);
  position: relative;
}

/* Image de l'avatar au survol */
.switcheroo__avatar img:hover {
  border-radius: 5px;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  border-radius: 6px;
  cursor: default;
}


/* Indicateur de l'avatar survolé */
.switcheroo__squircle:before {
  content: "";
  display: block;
    background-color: var(--title-3-bg);
    border: var(--title-3-bg);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  left: -5px;
  z-index: -1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Indicateur du compte sélectionné/actif */
.switcheroo__squircle.active:before {
  opacity: 1;
  border-radius: 8px;
}

.switcheroo__squircle:hover:before {
    border-radius: 8px;
    opacity: 1;
  transform 128ms var(--ease), opacity 64ms var(--ease);
}


/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--red);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  color: var(--light);
}
.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}



/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  background-color: var(--text);
  padding: 0.68rem 1rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 4px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: #fff;
}

/* Conteneur du pseudo: si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper {
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
}
/* Conteneur du pseudo : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.98);
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--text);
  z-index: -1;
}

/* Flèche tooltip : si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper:before {
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Flèche tooltip : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper:before {
  left: 50%;
  top: -2px;
  transform: translateX(-50%) rotate(-45deg);
}


/* Positionnement tooltip au survol */
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}



/* LOGO --- */
.switcheroo__logo {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
}

/* DIVIDER : barre de séparation --- */
.switcheroo__divider {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
  
  background-color: var(--greyer);
  border-radius: 3px;
  transform: scale(0.8);
}

/* Divider : si vertical */
.switcheroo[direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 2px;
}

/* Divider : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__divider {
  width: 2px;
}


/* AJOUTER UN COMPTE ---*/

/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--text);
}
.switcheroo__squircle--button:hover {
  color: var(--light);
  font-weight: bold;
}


/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'afficage connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(255, 255, 255, 0.6);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 24px 20px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--grey);
  border: var(--border);
  color: var(--text);
}

/* Formulaire */
.switcheroo__form {
  padding: 48px;
  background: var(--light);
  border-radius: 5px;
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

/* Nom du champs */
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--light);
  border: var(--border)!important;
  border-bottom: 3px solid var(--greyer)!important;
  color: var(--text);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
  border-radius: 8px;
  padding: 4px 6px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  align-self: flex-end;
  background-color: var(--light);
  border: var(--border);
  cursor: pointer;
}

.switcheroo__form-button:hover {
  border: 1px solid transparent;
  background: var(--text);
  color: var(--light);
}

.monomer-modal.monomer-open, .monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 20px;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: var(--red);
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover {
  background: var(--text);
  font-weight: 700;
}

/****** NAVIGATION ******/
.conteneur {
  margin:auto;
  font-family: arial;
  font-size: 12px;
}

/****** Boutons (Hamburger) ******/

.ano_navigation_openbtn {
    background-color: var(--title-3-bg);
    position: relative;
    height: 50px;
    width: 150px;
    border-right: 1px solid var(--fow-bg);
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  color:white;
  text-transform: uppercase;
  cursor: pointer;
}

.logo h1{
  color:white;
  font-family:Arial;
  font-size: 20px;
}

.ano_navigation_openbtn .hamburger-lines {
  display: block;
  height: 20px;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ano_navigation_openbtn .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background:white;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ano_navigation_openbtn:hover .hamburger-lines .line {
  background:var(--title-2-bg);
}

.ano_navigation_openbtn .hamburger-lines .line1 {
  transform-origin: 0% 0%;
}

.ano_navigation_openbtn .hamburger-lines .line3 {
  transform-origin: 0% 100%;
}

.ano_navigation_openbtn:hover .hamburger-lines .line1,
.ano_navigation_openbtn:hover .hamburger-lines .line3 {
  width: 17px;
}

.ano_navigation_openbtn:hover .hamburger-lines .line1 {
  -webkit-transform: translateX(10px) rotate(45deg);
  -ms-transform: translateX(10px) rotate(45deg);
  -o-transform: translateX(10px) rotate(45deg);
  transform: translateX(10px) rotate(30deg);
}

.ano_navigation_openbtn:hover .hamburger-lines .line3 {
  -webkit-transform: translateX(10px) rotate(-45deg);
  -ms-transform: translateX(10px) rotate(-45deg);
  -o-transform: translateX(10px) rotate(-45deg);
  transform: translateX(10px) rotate(-30deg);
}

.ano_menu.open .hamburger-lines {
  opacity: 1;
}

.ano_menu .hamburger-lines {
  display: block;
  height: 20px;
  width: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: -35px;
  top:10px;
  transition-delay: 0.5s;
  transition-property: opacity;
  transition:all 0.5s;
  opacity: 0;
}

.ano_menu .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background:white;
  transition: all 0.5s;
}

.ano_menu .hamburger-lines:hover .line {
  background-color: var(--title-2-bg);
}

.ano_menu .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transform: rotate(45deg);
}

.ano_menu .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transform: rotate(-45deg);
}

/****** Menu ******/

.ano_navigation a {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.ano_navigation a:hover {
    text-decoration: none!important;
}

#nav_bar {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Arial;
    cursor: pointer;
    margin-top: 25px;
}

.ano_navigation_main {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  z-index:10;
  background-color: var(--title-2-bg);
  height:50px;
}

.ano_navigation_fondsombre.open {
  background: #000;
  height: 100vh;
  opacity: .6;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}

.ano_navigation .menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100% - 235px);
}

.ano_navigation .nav_openbtn a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.ano_navigation .ano_menu {
    width: 250px;
    height: 100vh;
    background-color: var(--title-2-bg);
    position: fixed;
    top: 0;
    transition: all 0.5s;
    transform: translateX(-250px);
    z-index: 110;
    font-size: 12px;
}

.ano_navigation .ano_menu.open {
  transform: translateX(0);
}

.ano_navigation .menu-items a {
  margin: 2px 0;
}

.ano_navigation .menu-items .lien {
  height: 40px;
  display: flex;
  width: 100%;
}

.ano_navigation .menu-items .lien .lien_name {
  margin:auto 10px;
}

.ano_navigation .menu-items .lien.discord {
  height:60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ano_navigation .menu-items .lien.discord .lien_hover {
  height:60px;
}

.ano_navigation .menu-items .lien.discord .lien_name img {
  vertical-align:middle;
  margin-right:40px;
  width:30px;
}

.lien .lien_hover, .menu-items .lien .lien_hover{
    position: absolute;
    width: 100%;
  height:40px;
    background: linear-gradient(90deg, var(--title-2-bg), var(--title-3-bg));
    transform: translateX(-98%);
    transition: all 0.5s;
  z-index:-2;
}

  .lien:hover .lien_hover, .menu-items .lien:hover .lien_hover {
    transform: translateX(0);
}

.ano_navigation .items_partners .partners_subtitle {
  background-image: linear-gradient(90deg, var(--title-3-bg), var(--title-2-bg));
  color: white;
  text-transform: uppercase;
  padding: 4px 4px 3px 4px;
  text-align: center;
  line-height: 0.9;
  margin-bottom: 10px;
}

.ano_navigation .items_partners .partners_subtitle i {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.ano_navigation .items_partners .partners_img {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:0 17px;
  box-sizing: border-box;
}

.ano_navigation .items_partners .partners_img img {
  margin-bottom: 8px;
  filter: grayscale(1);
  transition: all 0.5s;
}

.ano_navigation .items_partners .partners_img img:hover {
  filter: grayscale(0);
}

/****** Profil du Membre ******/
.menu_informations {
  width:250px;
  height: 235px;
  background-image: linear-gradient(var(--forum-main-grey), var(--forum-thirth-grey));
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  display: flex;
}
.informations_member {
  margin:auto;
  margin-top:30px;
}

.informations_member .member_avatar {
  width:120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  border: 8px solid var(--title-3-bg);
}

.informations_member .member_avatar .avatar_icon {
}

.informations_member .avatar_icon img {
    width: 120px;
}

.informations_member .member_pseudo {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-top:10px;
  text-align:center;
  padding:0 10px;
  box-sizing: border-box;
}

.informations_member .member_pseudo i {
  font-style: normal;
  color:var(--forum-accent-color);
}

/************Corps***************/



body{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgb(107 70 121) 100%);
}

body #i_logo {
  content: url("https://zupimages.net/up/22/25/yiy9.png");
  margin-top:-30px;
  width: 100%;
}


.bodyline{
  background-color: transparent;
  border: 0px;
}

#nav_menu {
    background-color: var(--title-3-bg);
    padding: 20px;
}

#nav_menu input#accent_picker {
    margin-left: 19%;
}

label[for="accent_picker"] {
display: block;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial;
}

label[for="theme_picker"] {
    display: block;
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
}

#nav_menu select#theme_picker {
    margin-left: 19%;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.boutonhautbas img {
    width: 30px;
}

.boutonhautbas {
    top: 10px;
    right: 10px;
    position: fixed;
    z-index: 100;
}

#nav_menu select#theme_picker {
    margin-left: 35px;
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
}

/* TOOLBAR */

#fa_toolbar_hidden,
#fa_hide,
#fa_menu {
	display: none!important;
}

#fa_toolbar {
	margin-top: -30px;
}

#fa_right {
	font-size: 14px;
	position: fixed;
	right: 140px;
	top: 5px;
	z-index: 999;
  margin-top:10px
        line-height: 22px;
}

#fa_right .rightHeaderLink {
    line-height: 40px!important;
    padding: 0 5px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}

#notif_unread {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 3px;
	line-height: 1em;
	background: darkred;
	border-radius: 50%;
	color:white!important;
	font-size:11px;
}

ul#notif_list {
  min-width: 200px;
  margin-left: -74px!important;
  margin-top: 15px!important;
}

#fa_toolbar #fa_right #notif_list li.unread{
	background-color: var(--title-3-bg);
	color: var(--title-2-txt);
}

#fa_toolbar #fa_right #notif_list li.unread a {
    color: white!important;
}

#fa_toolbar #fa_right #notif_list li,
#fa_toolbar #fa_right #notif_list li.see_all{
	background-color: var(--title-2-bg);
	color: var(--fow-txt);
}

#fa_toolbar #fa_right #notif_list li .contentText a {
	color: var(--accent-color)!important;
	text-decoration: none!important;
}

#fa_toolbar #fa_right #notif_list li.see_all a {
	color: var(---accent-color)!important;
}

/*******CATEGORIES**********/

.ano_title_cate h2::before {
    content: "• • • ";
}
.ano_title_cate h2 {
    text-align: right;
    color: var(--title-2-bg)!important;
    text-transform: uppercase;
    font-size: 24px;
}

.ano_cate {
    display: grid;
    grid-template-columns: 170px 327px 190px 100px 195px;
    grid-template-rows: 25px 60px 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ano_cate_links ano_cate_title ano_cate_submess ano_cate_avatar ano_cate_imgmess"
        "ano_cate_links ano_cate_desc ano_cate_desc ano_cate_avatar ano_cate_lastmess"
        "ano_cate_links ano_cate_desc ano_cate_desc ano_cate_avatar ano_cate_lastmess";
    background: var(--fow-bg);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #fffdfb;
}

.ano_cate_links a:hover {
    letter-spacing: 2px;
    text-decoration: none!important;
    color: var(--title-3-bg);
}
.ano_cate_links a {
    display: block;
    color: var(--title-3-txt);
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--title-3-txt);
    padding-bottom: 5px;
    font-size: 10px;
}
.ano_cate_links {
    grid-area: ano_cate_links;
    font-size: 0;
    text-align: center;
    margin-left: 5px;
    padding: 10px;
    background: var(--title-2-bg);
}

.ano_cate_title {
grid-area: ano_cate_title;
    border-bottom: 1px solid;
    line-height: 1.5;
    font-family: Arial;
    margin-left: 10px;
    height: 24px;
}

.ano_cate_title a {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 18px;
    transition: 0.5s;
    color: var(--title-2-bg);
}

.ano_cate_title a:hover {
    color: var(--title-3-bg);
    text-decoration: none!important;
}

.ano_cate_submess {
    grid-area: ano_cate_submess;
    border-bottom: 1px solid;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 3;
    text-align: right;
    height: 24px;
}

.ano_cate_avatar {
    grid-area: ano_cate_avatar;
    text-align: center;
}

.ano_cate_avatar img {
    width: 62px;
    padding: 5px;
    border: 1px solid #fffdfb;
}

.ano_cate_imgmess { grid-area: ano_cate_imgmess; }

.ano_cate_desc {
    font-size: 13px;
    grid-area: ano_cate_desc;
    overflow: auto;
    text-align: justify;
    padding: 10px;
    height: 90px;
}

.ano_cate_lastmess {
  grid-area: ano_cate_lastmess;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    height: 90px;
}

.ano_cate_lastmess a {
    color: var(--title-2-bg);
    line-height: 2;
    text-decoration: none!important;
    transition: 0.5s;
    text-transform: uppercase;
}

.ano_cate_lastmess strong {
    font-size: 13px;
    line-height: 2;
    text-transform: capitalize;
      letter-spacing: normal;
}

.ano_cate_lastmess a:hover {
    color: var(--title-3-bg);
    letter-spacing: 2px;
}

.ano_cate_lastmess strong:hover {
    letter-spacing: normal;
}

.forumline {
    border: 2px var(--title-2-bg) solid;
	    background: var(--fow-bg);
}


/********************************PAGE D ACCUEIL*************************************/

/*********************Premiere partie*********************/
/*****Contexte, acces, staff, date, meteos, predefs******/

.ano_pa {
    display: grid;
    grid-template-columns: 330px 300px auto;
    grid-template-rows: 50px 50px auto;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "ano_pa_contexte ano_pa_date ano_pa_meteopredefs"
        "ano_pa_contexte ano_pa_quickaccess ano_pa_meteopredefs"
        "ano_pa_contexte ano_pa_staff ano_pa_meteopredefs";
    background: var(--fow-bg);
    padding: 10px;
}

.ano_pa_contexte {
    grid-area: ano_pa_contexte;
    text-align: justify;
    font-size: 12px;
    height: 200px;
}

#ano_pa_contexte_title{
    font-size: 21px;
    margin-bottom: 15px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, var(--title-2-bg), var(--title-3-bg));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.ano_pa_date {
    grid-area: ano_pa_date;
    text-align: center;
    font-size: 13px;
  height:40px
}

.ano_pa_date span {
    display: block;
    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(90deg, var(--title-2-bg), var(--title-3-bg));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ano_pa_quickaccess {
  grid-area: ano_pa_quickaccess;
}

/*Réinitilaisation de la liste déroulante*/
select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #F9F9F9;
  background-image: none;
  box-shadow: none;
  font-size: 1.2em;
}

/* Mise en forme de la div .select*/
.select {
  position: relative;
  width: 200px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #CED4DA;
  z-index:1;
  margin: auto;
}

/* Mise en forme de la balise select*/
.select select {
margin: 0;
    padding-left: 15px;
    height: 40px;
    color: #555555;
    cursor: pointer;
    width: 100%;
}

/* Mise en place de la flèche */
.select::after {
  content: '\276F';
  position: absolute;
  top: 20%;
  right: 0;
  padding: 0 15px;
  background: white;
  pointer-events: none;
  transform: rotate(90deg);
  font-size: 1.5em;
  background: #F9F9F9;
}


.select:hover::after {
  color: #FA6141;
}


.ano_pa_staff {
  grid-area: ano_pa_staff;
  margin: auto;
}

.paonglet{
    padding: 5px;
    line-height: 2;
}
.paonglet_0{
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}
.paonglet_1{
  color: #9F0000;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}

.contenu_paonglet{
  background-color: var(--title-2-bg);
  padding: 5px;
  margin-top: 5px;
  color: white;
  display:none;
  height: 55px;
}

.paonglets {
    text-align: center;
    width: 240px;
}

.paonglets span {
  margin: 0.5% 2%;
  text-align: center;
}

.ongletpseudo {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.ongletrole {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

.activite {
    text-align: center;
    font-variant: small-caps;
    font-size: 10px;
}

span.present {
    color: var(--present);
}

span.absent {
    color: var(--absent);
}

.ano_pa_meteopredefs {
  grid-area: ano_pa_meteopredefs;
}

.ano_pa_slider {
	position: relative;
	min-height: 60px;
	z-index: 2;
}

.ano_pa_slider > div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: -1;
}

.ano_pa_slider .slider_prev,
.ano_pa_slider .slider_next {
	display: block;
	padding: 5px;
	border: 1px solid lightgray;
	position: absolute;
	border-radius: 50%;
	line-height: 100%;
	top: 30px;
	cursor: pointer;
	user-select: none;
	background: rgb(191,77,107,.6);
	border-color: rgba(0,0,0,.5);
}

.ano_pa_slider .slider_prev {
	left: 10px;
  top:20px
}

.ano_pa_slider .slider_next {
	right: 10px;
top:20px
}

.ano_pa_predef {
}

.ano_pa_predef .ano_pa_slider {
	height: 150px;
}

.ano_pa_predef .slider_prev,
.ano_pa_predef .slider_next {
	top: 65px;
}

.predefimg img{
  width:50px
}

.ano_pa_title {
    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(90deg, var(--title-2-bg), var(--title-3-bg));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
  height: 25px;
}

/*********************Deuxieme partie*********************/
/*****Calendrier, news forum, intrigues, marche******/

.ano_pa2 {
    display: grid;
    grid-template-columns: 312px 156px 156px 312px;
    grid-template-rows: 300px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "ano_pa2_calendarnews ano_pa2_intrigues ano_pa2_intrigues ano_pa2_marche";
    background: var(--fow-bg);
    padding: 10px;
}

.ano_pa2_calendarnews { grid-area: ano_pa2_calendarnews; }

.ano_pa_calendar,
.ano_pa_news_txt {
	display:flex;
	flex-direction: column;
}

.ano_pa_calendar {
	flex-grow: 0;
}

.ano_pa_calendar .ano_pa_title,
.ano_pa_news_txt .ano_pa_title {
	cursor:pointer;
}

.ano_pa_calendar_content,
.ano_pa_news_txt_content {
	overflow: auto;
	flex-basis: 190px;
	transition: all .5s ease;
	flex-grow: 1;
	flex-shrink: 1;
	padding-right: 5px;
}

.ano_pa_calendar_content {
	flex-basis: 0px;
}

.ano_pa_calendar_content span,
.ano_pa_news_txt_content span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--title-2-bg);
    border-bottom: 1px solid rgb(255 246 238);
    margin-top: 10px;
}

.ano_pa_calendar_content span:first-child,
.ano_pa_news_txt_content span:first-child {
	margin-top: 0;
}

.ano_pa2_intrigues { grid-area: ano_pa2_intrigues; }

.ano_pa2_marche { grid-area: ano_pa2_marche; }

.ano_pa2_marche_content {
    height: 245px;
    overflow: auto;
}

.ano_pa2_intrigues_content{
    height: 245px;
    overflow: auto;
}

.ano_pa2_intrigues_content span,
.ano_pa2_marche_content span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--title-2-bg);
    border-bottom: 1px solid rgb(255 246 238);
    margin-top: 10px;
}

/*********************Premiere partie*********************/
/*****Topsites, partenaires******/

.ano_pa3 {
    display: grid;
    grid-template-columns: 312px 156px 156px 312px;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "ano_pa2_topsites ano_pa2_topsites ano_pa2_partostop ano_pa2_partostop";
    background: var(--fow-bg);
    padding: 10px;
}

.ano_pa2_topsites { grid-area: ano_pa2_topsites; }

.ano_pa_topsite_links {
display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    align-items: center;
    margin: auto;
}

.ano_pa_topsite_links a {
    width: 50px;
    height: 50px;
    background-image: url(https://cdn.discordapp.com/attachments/782166043262320640/796090183967178782/Test.png);
}


.ano_pa2_partostop { grid-area: ano_pa2_partostop; }


/********************************QEEL*************************************/

.qeel_content:not(#qeel_parto) {
      display: grid;
    grid-template-columns: 390px 100px 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "q_stats q_ava q_groups"
        "q_online q_online q_groups"
        "q_recent q_recent q_groups";
    background: var(--title-2-bg);
}

.qeel_content a {
    text-decoration: none!important;
}

.q_stats { grid-area: q_stats;padding-top: 15px;padding: 10px;}

.q_ava { grid-area: q_ava;padding: 10px; }

.avatarlastmember {
grid-area: avatarlastmember;
    width: 70px;
    text-align: center;
    overflow: hidden;
    max-height: 70px;
    border: 5px solid var(--title-2-bg);
}

.avatarlastmember img{
    max-width: 100%!important;
      margin-top: -25px;
}

.q_groups { grid-area: q_groups;}

.q_online { grid-area: q_online; padding: 10px;}

.q_recent { grid-area: q_recent;padding: 10px; }

.qeel_container {
	margin-top: 10px;
}

.qeel_title {
text-align: right;
    color: var(--title-2-bg)!important;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 25px;
}

.qeel_title::before {
    content: "• • • ";
}

.qeel_title span,
.qeel_title span a{
	font-size: 18px;
	text-transform: uppercase;
	color: var(--title-txt)!important;
}

.qeel_content:not(#qeel_parto) > div {
	background-clip: border-box;
	background-color: var(--fow-bg);
}

.qeel_img {
	grid-area: q_image;
	display: none;
}

.qeel_welcome {
	grid-area: q_welcome;
}

.qeel_stats {
	grid-area: q_stats;
}

.qeel_members_online {
	grid-area: q_online;
	height: 98px;
	text-align: justify;
	overflow: auto;
}

.qeel_members_recent {
	grid-area: q_recent;
	height: 100px;
	overflow: auto;
	text-align: justify;
}

.qeel_group_list {
    grid-area: q_groups;
    font-size: 0;
    height: 80px;
    text-align: center;
    border-bottom: 10px solid var(--title-2-bg)!important;
    padding: 10px;
}

.qeel_group_list b {
	display: inline-block;
	margin: 0 7px 0 7px;
	line-height: 2;
}

.qeel_group_list b a {
	font-size: 12px;
	font-variant: petite-caps;
}

.qeel_group_description {
    grid-area: q_groups_txt;
    overflow: auto;
    text-align: justify;
    padding: 10px;
}

.qeel_group_description img {
  max-width:100%;
}

.qeel_birthday {
	grid-area: q_birthday;
	display: none;
}

.qeel_members_recent table *,
.qeel_birthday table * {
	background: none;
	font-size: inherit;
}

.qeel_chatbox_info {
	grid-area: q_chatbox;
	display: none;
}

.qeel_chatbox_stats {
	
}

.qeel_chatbox_popup {
	
}

div#qeel_parto {
    background: var(--fow-bg);
    text-align: center;
    padding: 5px;
}

.buttonspartos {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background: var(--title-2-bg);
    padding: 10px;
  text-transform: uppercase;
}

.buttonspartos a {
    color: white;
    transition: 0.5s;
}

.buttonspartos a:hover {
    color: var(--title-3-bg);
    letter-spacing: 2px;
}
