/*******************
====== GLOBAL=======
*******************/

/* VARIABLES - GLOBALES */

:root {
	--accent-hue: 200;
	--accent-color: hsl(var(--accent-hue, 200), 50%, 30%);
	
	--fow-bg: #fdead9;
	--fow-txt: #000000;
	
	--title-txt: lightgrey;
	--title-bg: var(--accent-color);
	
	--title-2-txt: lightgrey;
        --title-3-txt: #fffdfb;
	--title-2-bg: #bf4d6b;
        --title-3-bg: #5e4170;
        --title-3-bg-clair: #c66bff;
	
	--fow-link: var(--fow-txt);
	--fow-link-alt: var(--title-2-txt);
  
	--sceditor-border: #0e0e0e;
	--sceditor-txt: rgba(142,142,142,1);
  
	--g-pnj: #B785E6;
	--g-l-ordre: #0093AD;
	--g-sanguinaire: #FF2929;
	--g-sang-blanc: #D68585;
	--g-damballa: #DED788;
	--g-pawnees: #58A878;
	--g-enrages: #02733D;
	--g-resistance: #F5914F;
	--g-neutres: #807248;
	--g-confrerie:#811B1B;
	--g-sororite:#F000BC;
}


/* CATEGORIES - ANIMATIONS */

:root{
	--pulse_bg-light-low: 18%;
	--pulse_bg-light-high: 35%;
	--pulse_bg-hue: var(--accent-hue, 195);

	--img-note-hue: 100;
	--img-annonce-hue: 190;
	--img-locked-bg: #242424;
}

@keyframes pulse_bg {
	0% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-low, 10%));}
	50% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-high, 30%));}
	100% {background-color: hsl(var(--pulse_bg-hue), 100%, var(--pulse_bg-light-low, 10%));}
}

/* SCROLLBAR */

::-webkit-scrollbar{
	width:10px
}

::-webkit-scrollbar-track{
	background-color:#000
}

::-webkit-scrollbar-thumb{
	BACKGROUND-COLOR:var(--accent-color,#999)
}
