/***************************** THEME WEREWOLF *****************************/

body.werewolf #i_logo {
	content: url("https://zupimages.net/up/22/14/qu26.png");
	box-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

body.werewolf {
	background:#000000!important;
	--fow-bg: #141415!important;
	--fow-txt: #b1b1b1;
	--title-txt: #000906!important;
	--sceditor-border: #191919!important;
	--sceditor-txt: rgba(142,142,142,1)!important;
	--title-2-bg: #680e0e!important;
	--title-3-bg: #444445!important;
  
	--g-pnj: #680e0e!important;
}

body.werewolf .switcheroo__squircle:hover{
  background: #680e0e!important;
}

body.werewolf .ano_navigation a{
  color:white!important}

body.werewolf .ano_pa, body.werewolf .ano_pa2{
  color: #c7c7c7;
}

body.werewolf input.post, body.werewolf textarea.post, body.werewolf select, body.werewolf #text_editor_iframe, body.werewolf textarea.inputbox{
  background-color: #141415;
  color: rgba(142,142,142,1)!important;
}

body.werewolf #sceditor_smilies {
    background-color: #141415;
}

body.werewolf #sceditor_smilies table {
    background: #141415;
}

body.werewolf #sceditor_smilies #smilies_header {
    color: #c4c4c4;
    background-color: #680e0e;
    height: 17px;
}

body.werewolf .select::after{
    background: var(--fow-bg);
}

body.werewolf .ano_pa2 a, body.werewolf .ano_pa a {
    color: var(--title-2-bg);
}

body.werewolf .ano_pa_slider .slider_prev, body.werewolf .ano_pa_slider .slider_next{
  background: rgb(104 14 14 / 60%)!important;
}

body.werewolf .ano_pa_calendar_content span, body.werewolf .ano_pa_news_txt_content span, body.werewolf .ano_pa2_intrigues_content span, body.werewolf .ano_pa2_marche_content span{
  border-bottom: 1px solid var(--title-3-bg)!important;
}

body.werewolf .activite a{
  color:black
}

body.werewolf .ano_cate{
  color: #c7c7c7;
  border-bottom: 1px solid var(--title-3-bg)!important;
}

body.werewolf::-webkit-scrollbar-thumb {
    BACKGROUND-COLOR: #680e0e!important;
}

body.werewolf .fenetre{background-image:url('https://media.discordapp.net/attachments/782165619512311818/1007336374770335815/werewolfmusic.png')}

/* Boutons Nouveau - Repondre - Verrouille */

body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/t_nouv10.gif"] {width: 120px;height: 50px;background-image: url("https://media.discordapp.net/attachments/782165619512311818/962799712694591570/nouveau.png")}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/t_repo10.gif"] {width: 125px;height: 50px;background-image: url("https://media.discordapp.net/attachments/782165619512311818/962799551293575268/repondre.png")}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/t_verr10.gif"] {width: 170px;height: 60px;background-image: url("https://i.ibb.co/WfZ9Dqg/verrouill.png")}

/* Boutons Citer - Editer - X - Profil - MP - Fiche - Partie Perso */

body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_quot10.gif"] {width: 61px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/citer12.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_edit10.gif"] {width: 65px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/editer14.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_dele10.gif"] {width: 21px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/x18.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_prof10.gif"] {width: 28px; height: 20px;background: url(https://2img.net/i.ibb.co/bQQbxkw/profil.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_priv10.gif"] {width: 28px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/mp10.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_fich10.gif"] {width: 61px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/fiche10.png)}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/l_pers10.gif"] {width: 80px; height: 20px;background: url(https://i.servimg.com/u/f44/20/29/00/76/perso_10.png)}

/* Nouveaux Messages - Pas de nouveaux messages */

body.werewolf img[src="https://2img.net/zupimages.net/up/2/129196351.gif"] {background: url(https://media.discordapp.net/attachments/549523156633649163/990605583759577128/unknown.png)!important}
body.werewolf img[src="https://i.servimg.com/u/f23/20/37/66/52/nouvea10.gif"] {background: url(https://media.discordapp.net/attachments/782165619512311818/1007337195343978606/nmww.png)!important}


body.werewolf .ano_cate_avatar img{
  border: 1px solid var(--title-3-bg);}

body.werewolf .ano_title_cate h2::before {
    content: "——— ";
    letter-spacing: -4.5px;
    padding-right: 12px;
}

body.werewolf .qeel_container{
  color: #c7c7c7;
}

body.werewolf .postdetails {
  color: #c7c7c7;
}

body.werewolf {
  color: #c7c7c7!important;
}

body.werewolf .S_cadre {
    background-color: #111111;
    border: 1px solid #2f2f2f;
  background-image:url(https://zupimages.net/up/22/14/tjzj.png);
}

body.werewolf .S_Title {
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 30px 0 15px 0;
    font-family: 'Girassol', cursive;
  background:none;
}

body.werewolf .S_line {
    border-bottom: 1px solid #2f2f2f;
}

body.werewolf a {
color:var(--title-2-bg)
}

body.werewolf .S_sum {
    border: 1px solid #272727;
    background-color: #0a0a0a;
}

body.werewolf .S_sum:hover {
    background-color: var(--title-2-bg);
    color: white!important;
}

body.werewolf .S_cadre h1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
    font-family: 'Girassol', cursive;
}

body.werewolf .S_cadre b {
    color: var(--title-2-bg);
}

body.werewolf .S_cadre a {
    color: var(--title-2-bg)!important;
}

body.werewolf .S_tips b {
    color: #369460;
}

body.werewolf .S_warn b {
    color: #c33939;
}

body.werewolf .P_cadre {
    background-image: url(https://zupimages.net/up/22/14/tjzj.png);
    background-color: #111;
    border: 1px solid #2f2f2f;
    font-size: 11px;
  color:#c7c7c7!important;
}

body.werewolf #P_title {
    color: white;
    font-size: 45px;
    padding: 30px 0 30px 0;
    font-family: 'Girassol', cursive;
    background-image: linear-gradient(45deg,var(--title-2-bg),hsl(264 50% 30% / 0));
}

body.werewolf .P_subtitle {
    background-image: linear-gradient(45deg,var(--title-2-bg),hsl(264 50% 30% / 0));
}

body.werewolf .P_cadre h1 {
    color: var(--title-2-bg);
}

body.werewolf .P_cadre b {
    color: var(--title-2-bg);
}

body.werewolf .P_cadre h2 {
    border-bottom: 1px solid var(--title-2-bg);
}

body.werewolf .P_end b {
    color: var(--title-2-bg);
}

body.werewolf .P_end {
    background-image: linear-gradient(45deg,hsl(264 50% 30% / 0),var(--title-2-bg));
}

body.werewolf .ano_post a{
color:black}

body.werewolf .gen, body.werewolf .genmed, body.werewolf .gensmall {
    color: #c7c7c7;
}

body.werewolf dl.codebox.hidecode {
    color: #c7c7c7;
}

body.werewolf .codebox dd {
    background-color: #000000;
    border: solid 1px var(--title-2-bg);
}

body.werewolf dd.quote {
    color: white;
}

body.werewolf .widget-type-prime-days * {
    color: #c7c7c7;
}

body.werewolf .qeel_title::before {
    content: "——— ";
    letter-spacing: -4.5px;
    padding-right: 12px;
}

body.werewolf .buttonspartos a{
color:black
}

body.werewolf .sceditor-container, body.werewolf .sceditor-toolbar, body.werewolf .sceditor-container textarea {
    background: none!important;
    border-color: var(--sceditor-border,#0e0e0e)!important;
    color: var(--sceditor-txt, lightgrey)!important;
}

body.werewolf .sceditor-group {
    background: var(--fow-bg)!important;
    border: 1px solid black!important;
}

/* PREDEFINIS */

body.werewolf .Pr_cadre{width:500px;background-color:#111;margin:auto;text-align:justify;border:1px solid #2f2f2f;padding:10px;font-size:11px}
body.werewolf .Pr_cadre b{color:var(--accent-color)} 
body.werewolf .Pr_Dispo{position:absolute;z-index:1;margin-top:-35px;margin-left:16px;width:125px;height:175px;overflow:hidden;opacity:.5;transform:rotate(270deg);-webkit-transform:rotate(270deg)} 
body.werewolf .Pr_Dispo div{margin-left:120px;margin-top:-50px;width:45px;height:300px;transform:rotate(-40deg);-webkit-transform:rotate(-40deg);transition:all linear .55s;-webkit-transition:all linear .55s} 
body.werewolf .Pr_top{display:flex} 
body.werewolf .Pr_top div:nth-of-type(1){width: 41%!important} 
body.werewolf .Pr_top div:nth-of-type(2){padding-left:2px;width:58%} 
body.werewolf .Pr_top span{background:#1f1f1f;color:#fff;margin:5px;display:inline-block;vertical-align:top;width:82px;padding:2px 0;overflow:hidden;font-size:9px;font-family:Arial;text-align:center;line-height:12px} 
body.werewolf .Pr_mid div:nth-of-type(1){width: 50%!important;border-right:1px solid #2f2f2f} 
body.werewolf .Pr_mid{display:flex} 
body.werewolf .Pr_mid div:nth-of-type(2){padding-left:4px;width:60%} 
body.werewolf .Pr_cadre h1{background-image: linear-gradient(45deg,var(--accent-color),hsl(264 50% 30% / 0));text-align: center;font-size: 15px;padding: 2px;font-variant: small-caps;margin-top:0px} 
body.werewolf .Pr_relations img{float:left;margin-right:10px}
body.werewolf .Pr_relations{min-height:50px}

/***************************** THEME NEON *****************************/

body.neon {
  --title-2-bg: #863751;
  --title-3-bg: #135aac;
  --accent-color: var(--title-3-bg);
  --fow-txt: #b1b1b1;
  --fow-bg: #000000;
  --title-txt: lightgrey;
  
  background-image:linear-gradient(to bottom, rgb(0 0 0 / 55%), rgb(0 0 0 / 75%)), url(https://static.vecteezy.com/ti/photos-gratuite/p1/2317574-mur-de-brique-vide-avec-neon-bleu-et-rose-gratuit-photo.jpg)!important;
  background-attachment: fixed, fixed;
  background-size: cover, cover;
}

body.neon #i_logo {
  content: url("https://cdn.discordapp.com/attachments/782166024816295937/913853194801647626/ban-neon-1920.gif");
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

body.neon .ano_navigation_main{
  background-image: linear-gradient(-90deg, rgba(134,55,81,1) 0%, rgba(134,55,81,1) 30%, rgba(2,96,186,1) 100%);
}

body.neon .gen, body.neon .genmed, body.neon .gensmall {
    color: #c7c7c7;
}

body.neon input.post, body.neon textarea.post, body.neon select, body.neon #text_editor_iframe, body.neon textarea.inputbox{
  background: black;
  color: lightgray;
}

body.neon .sceditor-container iframe, body.neon .sceditor-container textarea{
  color: lightgray!important;
}

body.neon body.neon {
  color: #f9f9f9;
}

body.neon #sceditor_smilies {
    background-color: #141415;
}

body.neon #sceditor_smilies table {
    background: #141415;
}

body.neon #sceditor_smilies #smilies_header {
    color: #c4c4c4;
    background-color: #680e0e;
    height: 17px;
}

body.neon #ano_pa_contexte_title, body.neon .ano_pa_date span, body.neon .ano_pa_title {
  background: linear-gradient(-90deg, var(--title-2-bg), var(--title-3-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.neon .ano_pa_slider .slider_prev, body.neon .ano_pa_slider .slider_next{
  background: rgb(19 90 172 / 59%);
}

body.neon .ano_pa, body.neon .ano_pa2 {
  color: lightgray;
}

body.neon .paonglet img {
  border: 2px solid #863751!important;
}

body.neon .ano_title_cate h2 {
  background: linear-gradient(-90deg, var(--title-2-bg), var(--title-3-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.neon .ano_cate{
  color: lightgray; 
}

body.neon .ano_cate_avatar img {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.neon .ano_cate_submess{
  border-image-source: linear-gradient(to right, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.neon .ano_cate_title{
  border-image-source: linear-gradient(to left, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.neon .qeel_container, body.neon .q_recent .gensmall{
  color: lightgray;
  font-size: 11px;
}

body.neon .qeel_group_description a {
    color: lightgrey;
}

body.neon .qeel_group_description a:hover {
    text-decoration: underline!important;
}

body.neon .widget-type-prime-days * {
  color: lightgray;
}

body.neon .finpageaccueil a {
  color: lightgrey;
}

body.neon .debutpagedaccueil .gensmall {
  color: lightgrey;
}

body.neon .finbasdepage .gen, body.neon .finbasdepage .gen a {
  color: lightgray;
}

body.neon #fa_toolbar #fa_right #notif_list li .contentText a {
  color: lightgray!important;
}

body.neon .ano_sub{
  color: lightgray
}

body.neon .ano_sub_titleauthor a {
  color: var(--accent-color);
}

body.neon .ano_sub_pages a {
    color: lightgray;
}

body.neon .ano_post_message{
  color: lightgray;
}

body.neon .systab .tab:hover{
  background: var(--title-3-bg);
}

body.neon .poster-list{
  color: lightgray;
}

body.neon .pagination .gensmall a, body.neon .pagination .gensmall {
  color: lightgray!important;
}

body.neon .sceditor-container iframe, .sceditor-container textarea {
  color: lightgray!important;
}

body.neon .codebox dd{
  background-color: #151515;
}

body.neon .spoiler_content {
    color: #929191;
    background-color: #151515;
}

body.neon .codebox .genmed {
    color: lightgray;
}

/* Codes fiches */

body.neon .S_Title{
	text-align:center;
	font-size:45px;
	padding: 30px 0 15px 0;
	font-family: 'Kaushan Script', cursive;
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #f05487, #4a9ad3);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}

body.neon #P_title,
body.neon #P_subtitle,
body.neon .P_cadre h2{
	font-family: 'Kaushan Script', cursive;
}

body.neon .S_cadre a {
    color: var(--title-2-bg)!important;
}

body.neon .S_cadre, body.neon .P_cadre {
    background-color: #111111;
    border: 1px solid;
    border-image-source: linear-gradient(to bottom, var(--title-2-bg), var(--title-3-bg));
    border-image-slice: 1;
}

body.neon .fenetre{background-image:url('https://media.discordapp.net/attachments/782165619512311818/1007335051580686426/neonmusic.png')}

/* Boutons Nouveau - Repondre - Verrouille */

body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/t_nouv10.gif"] {background-image: url("https://cdn.discordapp.com/attachments/782166024816295937/912748935649587231/new_neon.png")}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/t_repo10.gif"] {background-image: url("https://media.discordapp.net/attachments/782166024816295937/912723403826425866/repondre_neon.png")}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/t_verr10.gif"] {width:125px;height:50px;background-image: url("https://cdn.discordapp.com/attachments/782166024816295937/912748935280484372/lock_neon.png")}

/* Boutons Citer - Editer - X - Profil - MP - Fiche - Partie Perso */

body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_quot10.gif"] {width: 40px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912754703476080700/citer_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_edit10.gif"] {width: 40px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912754703773884466/editer_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_dele10.gif"] {width: 21px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912754704130404432/X_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_prof10.gif"] {width: 40px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912759780286824458/profil_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_priv10.gif"] {width: 28px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912759779678625832/mp_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_fich10.gif"] {width: 40px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912759779485683763/fiche_neon.png") center no-repeat;}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/l_pers10.gif"] {width: 115px;height: 20px;background: url("https://cdn.discordapp.com/attachments/782166024816295937/912759779942883388/perso_neon.png") center no-repeat;}

/* Nouveaux Messages - Pas de nouveaux messages */

body.neon img[src="https://2img.net/zupimages.net/up/2/129196351.gif"] {background: url(https://media.discordapp.net/attachments/782165619512311818/1007335052205625414/pnmn.png)!important}
body.neon img[src="https://i.servimg.com/u/f23/20/37/66/52/nouvea10.gif"] {background: url(https://media.discordapp.net/attachments/782165619512311818/1007335051886866482/nmn2.png)!important}

/***************************** THEME RETRO *****************************/

body.retro {
  --title-2-bg: #c7b566;
  --title-3-bg: #000000;
  --accent-color: var(--title-2-bg);
  
  --fow-bg: #0e0e0e!important;
  --title-txt: lightgray;
  --title-2-txt:#221b1b;
  --fow-txt:#ffffff;
  --sceditor-txt: #d6d6d6;
  
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 75%), rgb(0 0 0 / 95%)),url("https://cdn.discordapp.com/attachments/782174816513032213/911753896416915456/bg_retro.png");
  background-attachment: fixed, fixed;
}

body.retro #i_logo {
  content: url("https://cdn.discordapp.com/attachments/782166024816295937/913446943932416050/art_deco_1920.png");
  box-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

body.retro .ano_navigation_main{
  background-color: #baa05a;
}

body.retro #ano_pa_contexte_title, body.retro .ano_pa_date span, body.retro .ano_pa_title {
    background-image: linear-gradient(360deg, var(--accent-color), #a77f44);
    background-size: 100%;
    -webkit-background-clip: text;
    font-family: 'Limelight', cursive;
}

body.retro .ano_pa_slider .slider_prev, body.retro .ano_pa_slider .slider_next{
  background: rgb(199 181 102 / 66%);
}

body.retro .ano_pa, body.retro .ano_pa2 {
  color: lightgray;
}

body.retro .paonglet img {
  border: 2px solid #863751!important;
}

body.retro .ano_title_cate h2 {
  background: linear-gradient(-90deg, var(--title-2-bg), var(--title-3-bg));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.retro .ano_cate{
  color: lightgray; 
  border-bottom: 1px solid #c7b566;
}

body.retro .ano_cate_avatar img {
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.retro .ano_cate_submess{
  border-image-source: linear-gradient(to right, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.retro .ano_cate_title{
  border-image-source: linear-gradient(to left, var(--title-2-bg), var(--title-3-bg));
  border-image-slice: 1;
}

body.retro .ano_cate_links a:hover {
    color: var(--title-3-txt);
}

body.retro .ano_cate_links a {
    color: var(--fow-txt);
    border-bottom: 1px solid var(--fow-txt);
}

body.retro .qeel_container, body.retro .q_recent .gensmall{
  color: lightgray;
  font-size: 11px;
}

body.retro .qeel_group_description a {
    color: lightgrey;
}

body.retro .qeel_group_description a:hover {
    text-decoration: underline!important;
}

body.retro .ano_title_cate h2::before {
    content: "♦ ♦ ♦ ";
    letter-spacing: -4.5px;
    padding-right: 12px;
}

body.retro .qeel_title::before {
    content: "♦ ♦ ♦ ";
    letter-spacing: -4.5px;
    padding-right: 12px;
}

body.retro .ano_cate_lastmess a:hover{
      color: var(--title-2-bg);
}

body.retro .ano_cate_title a:hover{
      color: var(--title-2-bg);
      letter-spacing: 2px;
}

body.retro .widget-type-prime-days * {
  color: lightgray;
}

body.retro .finpageaccueil a {
  color: lightgrey;
}

body.retro .debutpagedaccueil .gensmall {
  color: lightgrey;
}

body.retro .finbasdepage .gen, body.retro .finbasdepage .gen a {
  color: lightgray;
}

body.retro #fa_toolbar #fa_right #notif_list li .contentText a {
  color: lightgray!important;
}

body.retro .ano_sub{
  color: lightgray
}

body.retro .ano_sub_titleauthor a {
  color: var(--accent-color);
}

body.retro .ano_sub_pages a {
    color: lightgray;
}

body.retro .ano_post_message{
  color: lightgray;
}

body.retro .systab .tab:hover{
  background: var(--title-3-bg);
}

body.retro .poster-list{
  color: lightgray;
}

body.retro .pagination .gensmall a, body.neon .pagination .gensmall {
  color: lightgray!important;
}

body.retro .sceditor-container iframe, .sceditor-container textarea {
  color: lightgray!important;
}

body.retro .codebox dd{
  background-color: #151515;
}

body.retro .spoiler_content {
    color: #929191;
    background-color: #151515;
}

body.retro .codebox .genmed {
    color: lightgray;
}

body.retro .gen, body.retro .genmed, body.retro .gensmall {
    color: var(--sceditor-txt);
}

body.retro input.post, body.retro textarea.post, body.retro select, body.retro #text_editor_iframe, body.retro textarea.inputbox {
    background-color: var(--fow-bg);
    color: var(--sceditor-txt);
}

/* Codes fiches */

body.retro #P_title {
	color: #111111;
	background-image: linear-gradient(180deg,var(--accent-color),hsl(35deg 43% 40%));
	font-family: 'Limelight', cursive;
  }
  
  body.retro .P_subtitle {
	color:#111111;
	background-image: linear-gradient(180deg,var(--accent-color),hsl(35deg 43% 40%));
	font-family: 'Limelight', cursive;
	font-weight:bold;
  }
  
  body.retro .P_end {
	color:#111111;
	background-image: linear-gradient(180deg,var(--accent-color),hsl(35deg 43% 40%));
  }
  
  body.retro .P_cadre h2{
	color:#111111;
	 font-family: 'Limelight', cursive;
  }
  
  body.retro .P_cadre h1{
	font-family: 'Limelight', cursive;
	font-size:12px;
  }
  
body.retro .S_cadre a {
    color: var(--title-2-bg)!important;
}

  body.retro .S_sum:hover {
	  color: #111111!important;
	  transition-duration: 0.25s;
	  background-image: linear-gradient(180deg,var(--accent-color),hsl(35deg 43% 40%));
  }
  
  body.retro .S_Title {
	  color: #d0c571;
	  text-align: center;
	  font-size: 45px;
	  padding: 30px 0 15px 0;
	  font-family: 'Limelight', cursive;
	  background-image: linear-gradient(360deg, var(--accent-color), #a77f44);
	  background-size: 100%;
	  -webkit-background-clip: text;
	  -moz-background-clip: text;
	  background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -moz-text-fill-color: transparent;
  }

body.retro .S_cadre, body.retro .P_cadre {
  background-color: #111111;
    border: 1px solid;
    border-image-source: linear-gradient(to bottom, var(--title-2-bg), var(--title-3-bg));
    border-image-slice: 1;
}

body.retro .ano_pa_topsite_links a {
    background-image: url(https://cdn.discordapp.com/attachments/782166043262320640/796090183967178782/Test.png);
}

body.retro .S_cadre b {
    color: var(--title-2-bg);
}

body.retro .ano_navigation .ano_menu {
    background-color: var(--title-3-bg);
}

body.retro #nav_menu{
    background-color: var(--title-2-bg);
}

body.retro .switcheroo__squircle:hover {
    background: #baa05a;
}

body.retro a.postlink:link{
    text-decoration: underline;
    color: var(--title-2-bg);
}

body.retro .fenetre{background-image:url('https://media.discordapp.net/attachments/782165619512311818/1007335229582757929/retromusic.png')}

/* Boutons Nouveau - Repondre - Verrouille */

body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/t_nouv10.gif"] {background-image: url("https://cdn.discordapp.com/attachments/782166024816295937/913029611858849792/new_art_deco.png")}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/t_repo10.gif"] {background-image: url("https://cdn.discordapp.com/attachments/782166024816295937/913029612144058398/repondre_AD.png")}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/t_verr10.gif"] {background-image: url("https://cdn.discordapp.com/attachments/782166024816295937/912821409577836594/lock_AD.png")}

/* Boutons Citer - Editer - X - Profil - MP - Fiche - Partie Perso */

body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_quot10.gif"] {width: 61px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913156699597201448/citer_art_deco.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_edit10.gif"] {width: 65px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162579239649350/editer_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_dele10.gif"] {width: 21px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162580640555048/X_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_prof10.gif"] {width: 40px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162580376305774/profil_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_priv10.gif"] {width: 28px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162579986243594/mp_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_fich10.gif"] {width: 61px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162579755544596/fiche_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_pers10.gif"] {width: 115px; height: 20px;background: url(https://cdn.discordapp.com/attachments/782166024816295937/913162915668979742/perso_AD.png)}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/l_emai10.gif"] {}

/* Nouveaux Messages - Pas de nouveaux messages */

body.retro img[src="https://2img.net/zupimages.net/up/2/129196351.gif"] {background: url(https://media.discordapp.net/attachments/782165619512311818/1007335229238821014/pnmretro.png)!important}
body.retro img[src="https://i.servimg.com/u/f23/20/37/66/52/nouvea10.gif"] {background: url(https://media.discordapp.net/attachments/782165619512311818/1007335228907458651/nmr.png)!important}
